[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DEplotting"]
	path = DEplotting
	url = https://codeberg.org/bbedata/deplotting
